:root {
    --screenHeaderHeight: 56px;
    --screenMaxWidth: 800px;
    --cr-font_gray: #7D828C;
    --cr-bg_gray: #F3F4F6;
    --cr-gray100: #F3F4F6;
    --cr-gray200: #E5E7EB;
    --cr-gray400: #9CA3AF;
    --cr-gray500: #6B7280;;
    --cr-primary-darken100: #817CA9;
}

.screenLayout {width:100%;display: flex;align-items: center;justify-content: center;max-width: var(--screenMaxWidth);margin: auto;position: relative;background-color: #fff;padding-top: var(--screenHeaderHeight);font-family: 'Pretendard';}
.screenWrap{display: flex;align-items: center ;flex-direction: column;gap: 24px;width: 100%;padding-bottom: 48px;}
.screenHeader {width: 100%;position: fixed;top: 0;left: 50%;height: var(--screenHeaderHeight);background-color: #fff;display: flex;justify-content: space-between;padding: 0 16px;align-items: center;max-width: var(--screenMaxWidth);transform: translateX(-50%);z-index: 10;}
.screenHeaderBack {width: 20px;height: 20px;cursor: pointer;display: flex;align-items: center;justify-content: center;}
.screenHeaderLogo {min-width: 64px;height: 26px;display: flex;align-items: center;justify-content: center;font-size: 24px;font-weight: 600;}
.screenHeaderLogo svg{width: 100%;}
.screenHeaderLang{display: flex;align-items: center;justify-content: center;gap: 5px;color: var(--cr-font_gray);font-size: 14px;font-weight: 600;cursor: pointer;position: relative;height:56px;}
.screenHeaderLangMenu{position: absolute;top:100%;right: -16px;width: 100%;background-color: #fff;border: 1px solid var(--cr-gray200);border-radius: 8px;padding: 8px;display: flex;flex-direction: column;gap: 4px;z-index: 10;width:100px;height: 100px;}
.screenHeaderLangMenu li{font-size: 14px;font-weight: 600;line-height: 1.3;cursor: pointer;padding: 8px 12px;border-radius: 8px;color: var(--cr-gray500);list-style: none;width:100%;height: 40px;display: flex;align-items: center;justify-content: center;}

.notice{margin-top: 8px;width: 100%;}
.noticeTop{width: 100%;display: flex;align-items: center;justify-content: space-between;height: 56px;padding: 0 12px;font-size: 24px;font-weight: 700;}
.noticeBack{display: flex;align-items: center;justify-content: center;gap: 4px;font-size: 14px;color: var(--cr-gray500);border: 0px solid #000;background-color: unset;line-height: 1;cursor: pointer;font-weight: 600;}
.noticeList{display: flex;flex-direction: column;}
.noticeItem{display: flex;width: 100%;background-color: var(--cr-gray100);flex-direction: column;padding: 16px;gap: 6px;cursor: pointer;}
.noticeItem:not(:last-child){border-bottom: 1px solid var(--cr-gray200);}
.noticeItemTitle{font-size: 18px;font-weight: 600;line-height: 1.33;}
.noticeItemDate{font-size: 14px;font-weight: 400;line-height: 1.33;color: var(--cr-gray400);}

.faq{width: 100%;}
.faqTop{width: 100%;display: flex;align-items: center;justify-content: space-between;padding: 0 12px;font-size: 24px;font-weight: 700;flex-wrap: wrap;width: 100%;}
.faqTopTitle{width: 100%;height: 56px;display: flex;align-items: center;}
.faqTopCategory{display: flex;align-items: center;justify-content: flex-start;gap: 8px 4px;padding: 8px 0;flex-wrap: wrap;}
.faqTopCategoryItem{font-size: 12px;cursor: pointer;border-radius: 24px;height: 24px;display: flex;align-items: center;justify-content: center;color: var(--cr-gray400);background-color: var(--cr-bg_gray);padding: 0 11px;font-weight: 400;line-height: 1;}
.faqTopCategoryItem.active{color: #fff;background-color: var(--cr-primary-darken100);}
.faqTopCount{display: flex;align-items: center;font-size: 12px;color: var(--cr-primary-darken100);font-weight: 600;line-height: 1.33;height: 40px;padding: 0 12px;}

.faqItem{padding: 0 16px;background-color: var(--cr-gray100);}
.faqItem:not(:last-child){border-bottom: 1px solid var(--cr-gray200);}
.faqItemTop{padding: 16px 0;display: flex;justify-content: space-between;font-size: 16px;font-weight: 600;line-height: 1.3;}
.faqItemTitle{display: flex;align-items: center;gap: 8px;}
.faqItemTitle span{font-size: 14px;color: var(--cr-primary-darken100);margin-bottom:4px;}
.faqItemArrow{width: 22px;height: 24px;display: flex;align-items: center;justify-content:center;transform: rotate(180deg);}
.close .faqItemArrow{transform: rotate(0deg);}

.faqItemCont{display: flex;align-items: flex-start;gap: 8px;padding:0 16px 16px;}
.close .faqItemCont{display: none;}
.faqItemContIcon{font-size: 14px;color: #D23838;margin-top:1px;font-weight: 600;}
.faqItemContText{font-size: 14px;color: var(--cr-gray500);line-height: 1.6;font-weight: 500;}

.noticeListTitle{font-size: 24px;font-weight: 700;line-height: 1.33;padding: 0 16px;height: 56px;display: flex;align-items: center;margin-bottom: 8px;}
.noticeViewTop{display: flex;flex-direction: column;gap: 6px;padding: 16px;border-bottom: 1px solid var(--cr-gray200);min-height: 75px;}
.noticeViewTitle{font-size: 18px;font-weight: 600;line-height: 1.3;}
.noticeViewDate{font-size: 12px;color: var(--cr-gray400);font-weight: 400;line-height: 1.5;}
.noticeViewCont{padding: 16px;}
.noticeViewCont img{display: block;width: 100%;max-width: calc(800px - 32px);}
.noticeViewCont * {padding: revert;}

.inq{width: 100%;}
.inqTop{padding: 0 16px;height: 56px;display: flex;align-items: center;}
.inqTopTitle{font-size: 20px;font-weight: 600;}
.inqGo{width: 100%;height: 78px;background-color: var(--cr-gray100);border: 0px solid #000;display: flex;align-items: center;gap: 12px;cursor: pointer;padding: 0 16px;}
.inqGoIcon{width: 38px;height: 38px;background-color: var(--cr-primary-darken100);display: flex;align-items: center;justify-content: center;border-radius: 12px;}
.inqGoText{display: flex;flex-direction: column;gap: 4px;align-items: flex-start;}
.inqGoText01{font-size: 14px;font-weight: 600;line-height: 1.3;}
.inqGoText02{font-size: 12px;font-weight: 500;color: var(--cr-gray400);line-height: 1;}